.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  user-select: none;
  margin-bottom: 5px;
}

.avatar {
  margin-right: 20px;
  flex-shrink: 0;
}

.title {
  margin: 0 !important;
  font-size: 30px !important;
}

.title a {
  color: #333333 !important;
}

.description {
  color: #767676;
  font-size: 18px;
}

.actionsWrap {
  display: flex;
  font-size: 16px;
}

.action {
  margin-right: 15px;
}

.action:last-child {
  margin-right: 0px;
}

.contentBlock {
  margin-top: 40px;
}

.basicInfoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.donationInfo {
  border: 2px solid #DDDCDE;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
}

.underline {
  border-bottom: 1px dotted #0037ff;
}


@media (max-width: 992px) {
  .headerWrap {
    flex-direction: column;
  }

  .basicInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .basicInfoWrap {
    flex-direction: column;
    text-align: center;
  }

  .donationInfo {
    margin-top: 20px;
    text-align: start;
  }

  .title {
    font-size: 24px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  }
}