.optionDescription {
  color: #353b48;
}

.title {
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 58px;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 10px;
}

.subTitle {
  font-weight: bold;
  color: #353b48;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  max-width: 400px;
}

.select {
  max-width: 400px;
  border: 2px solid #0037ff;
  border-radius: 5px;
}

.select :global(.ant-select-arrow) {
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  font-size: 16px;
  right: auto;
  left: 10px;
  cursor: default;
}

.select :global(.ant-select-selection-search-input) {
  padding-left: 20px !important;
}

@media (max-width: 600px) {
  .title {
    font-size: 42px;
  }
}

.description {
  font-weight: 300;
}